@import "colors.scss";
@import "styles.scss";
$ft-1: var(--font-primary);
$ft-2: var(--font-secondary);

:root {
  --bs-link-color: $primary;
  --bs-link-hover-color: $primary;
  --bs-navbar-color: $primary;
  --bs-border-radius: 0rem;
}

.box {
  overflow: hidden;
}

.parallax-img {
  //transition: .3s all ease-in-out;
}

.bg {
  &-azul {
  }

  &-gold {
  }

  &-marmore {
    background-image: url(../images/marmore.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
}

.title {
  max-height: 50px;
  //width: 100%;
}

.line {
  height: 20px;
  background-color: $primary;
  background-image: url(../images/line-blue.png);
  background-size: contain;

  &-thin {
    height: 10px;
    background-color: $accent;
    background-image: url(../images/line-gold.png);
    background-size: cover;

    &.rotate {
      rotate: 180deg;
    }
  }
}

.btn {
  &-gradient {
    background-color: hsla(44, 84%, 70%, 1);
    background-image: url(../images/bg-azul-small.jpg);
    background-size: 200%;
    background-position: left;
    border: 0px !important;
    color: $branco;
    transition: 0.5s all ease-in-out;

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    .show > &.dropdown-toggle,
    &:hover {
      background-position: right;
      color: $branco;
    }

    &:active {
      background-position: left;
    }

    &:focus-visible {
      outline: $primary auto 0px;
    }

    &.focus,
    &:focus,
    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus,
    .show > &.dropdown-toggle:focus {
      box-shadow: 0 0 0 0rem $accent;
    }
  }
  &-outline-gradient {
    background-color: transparent;
    background-size: 200%;
    background-position: right;
    border: 1px solid $primary !important;
    color: $primary;
    transition: 0.5s all ease-in-out;

    svg {
      * {
        stroke: $primary;
      }
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    .show > &.dropdown-toggle,
    &:hover {
      background-image: url(../images/bg-azul-small.jpg);
      background-position: left;
      color: $branco;
      svg {
        * {
          stroke: $branco;
        }
      }
    }

    &:active {
      background-position: right;
    }

    &:focus-visible {
      outline: $primary auto 0px;
    }

    &.focus,
    &:focus,
    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus,
    .show > &.dropdown-toggle:focus {
      box-shadow: 0 0 0 0rem $accent;
    }
  }
}

.nav {
  &-section {
    background-color: rgba($color: #fff, $alpha: 0);
    transition: background-color 0.3s ease;

    .collapsing {
      @media only screen and (min-width: 991px) {
        height: 100% !important;
      }
    }

    .py-2 {
      @media (max-width: 992px) {
        padding-bottom: 0px !important;
      }
    }
  }

  &-item {
    padding: 0rem 0.5rem !important;

    @media (max-width: 992px) {
      &:nth-child(1) {
        margin-top: 1rem;
      }

      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }

  &-link {
    text-transform: uppercase;
    cursor: pointer;
    color: $primary !important;
    font-weight: 600;
    font-size: var(--font-size-small);
    line-height: var(--font-size-small);
    //font-family: $ft-2;

    &:hover {
      color: $secondary-400 !important;
    }

    @media (max-width: 992px) {
      border: 0px;
      padding: 0.5rem 0rem !important;
    }

    &.active {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: 0px;
        right: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $accent;
        background-image: url(../images/gold.png);
        background-position: bottom;
      }
    }
  }

  &bar {
    @media (max-width: 992px) {
      padding-bottom: 0px !important;
    }

    &-brand {
      position: relative;

      &-img {
        height: 40px;

        @media (max-width: 400px) {
          height: 35px;
        }
      }

      &:after {
        --size: 15vw;
        content: "";
        position: absolute;
        top: calc(50% - 2px);
        left: calc(-1 * var(--size) - 1rem);
        width: var(--size);
        height: 4px;
        background-color: $accent;
        background-image: url(../images/gold.png);
        background-position: top right;
        background-size: cover;

        @media (min-width: 1700px) {
          --size: 30vw;
        }

        @media (max-width: 600px) {
          left: calc(-1 * var(--size) - 0.5rem);
          --size: 10vw;
        }
      }

      @media (max-width: 992px) {
        margin-bottom: 1rem !important;
      }
    }

    &-toggler {
      border: 1px solid $primary;

      &:focus {
        box-shadow: 0 0 4px $secondary;
      }

      @media (max-width: 992px) {
        margin-bottom: 1rem !important;
      }
    }

    &-collapse {
      &.show {
        @media (max-width: 992px) {
          background-color: rgba($color: #fff, $alpha: 0.8);
          backdrop-filter: blur(10px);
          margin-bottom: 1rem;
        }
      }
    }
  }

  &-space {
    height: 82px;
    width: 100%;
  }
}

#inicio {
  height: calc(100vh);
  background-image: url("../images/bg-home.png");
  background-size: cover;
  background-color: rgba($color: #fff, $alpha: 0.3);
  background-attachment: fixed;
  overflow: hidden;

  @media (max-width: 576px) {
    padding-top: 150px;
    height: auto;
    background: #fff;
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center bottom;
  }

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba($color: #fff, $alpha: 0.5) 0%,
      rgba($color: #fff, $alpha: 0.3) 100%
    );

    @media (max-width: 576px) {
      content: none;
    }
  }

  .img-mobile {
    //padding-block: 8rem;
    // background-image: url('../images/bg-home.png');
    // background-size: cover;
    // background-position: right;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      display: block;
      top: -1px;
      left: 0;
      right: 0;
      width: 100%;
      height: 60px;
      background: linear-gradient(
        180deg,
        rgba($color: #fff, $alpha: 1) 0%,
        rgba($color: #fff, $alpha: 0) 100%
      );
    }
  }

  .px-0 {
    padding-inline: 0.01px !important;
  }

  .content {
    position: relative;
    z-index: 10;
  }

  h6 {
    line-height: 1.4 !important;
  }

  .btn-gradient {
    width: 230px;
  }
}

#sobre {
  background-image: url(../images/marmore.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  .logo-tl {
    opacity: 0.15;
    scale: 1.2;
    translate: -10%;

    @media (max-width: 992px) {
      max-width: 25%;
      scale: 1;
      translate: 0;
      position: absolute;
      right: 0;
      top: 3rem;
    }
    @media (max-width: 576px) {
      max-width: 30%;
    }
  }
}

#principios {
  .card-box {
    text-align: center;
    border: 4px solid $primary;
    height: 100%;
    padding: 1.25rem;
    padding-top: 3rem;
    position: relative;

    .icon {
      position: absolute;
      top: -27.5px;
      right: 50%;
      transform: translateX(50%);
      background: $accent;
      padding: 0.825rem;
      border-radius: 100px;
      height: 55px;
      width: 55px;
    }
  }

  .line-gold {
    position: relative;
    &:after {
      --size: 50vw;
      content: "";
      position: absolute;
      top: calc(50% - 2px);
      left: calc(-1 * var(--size) - 1rem);
      width: var(--size);
      height: 4px;
      background-color: $accent;
      background-image: url(../images/gold.png);
      background-position: top right;
      background-size: cover;

      @media (min-width: 1700px) {
        // --size: 45vw;
      }

      @media (max-width: 600px) {
        left: calc(-1 * var(--size) - 0.5rem);
        //--size: 20vw;
      }
    }
    &.right {
      margin-left: 50%;
      &:after {
        right: calc(-1 * var(--size) - 2rem);
        left: 0;
        @media (max-width: 600px) {
          right: calc(-1 * var(--size) - 0.5rem);
          left: 0;
        }
      }
    }
  }
}

.bg-image {
  overflow: hidden;
  height: 200px;
  width: 100%;

  @media (max-width: 992px) {
    display: flex;
    justify-content: center;
    height: 170px;
  }

  img {
    width: 100%;

    @media (max-width: 992px) {
      width: initial;
      height: 210px;
      //margin-right: -5rem;
    }

    @media (max-width: 768px) {
      // height: 210px;
      margin-right: -5rem;
    }
  }
}

#esperar {
  position: relative;

  h1 {
    @media (max-width: 365px) {
      font-size: var(--font-size-2) !important;
    }
  }
  .caixa {
    padding: 1.5rem;
    border-radius: 1rem;
    background-image: url(../images/bg-azul.jpeg);
  }

  .logo-tl {
    opacity: 0.15;
    scale: 1.1;
    translate: -10%;

    @media (max-width: 992px) {
      display: none;
    }
  }
}

#trabalhando {
  position: relative;

  .bg-trab {
    position: absolute;
    background-image: url(../images/trabalhando.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;

    top: 0;
    left: 0;
    width: 40%;
    height: 100%;

    @media (min-width: 1280px) {
      width: 30%;
    }
  }

  h2 {
    text-shadow: 5px 5px 30px rgba($color: #fff, $alpha: 0.7),
      -5px 5px 30px rgba($color: #fff, $alpha: 0.7),
      5px -5px 30px rgba($color: #fff, $alpha: 0.7),
      -5px -5px 30px rgba($color: #fff, $alpha: 0.7);
  }

  @media (max-width: 767px) {
    background-size: cover;
    position: relative;

    &:after {
      content: "";
      background: rgba($color: #fff, $alpha: 0.7);
      backdrop-filter: blur(3px);
      position: absolute;
      inset: 0;
    }

    h2 {
      position: relative;
      z-index: 1000;
    }

    .bg-trab {
      width: 100%;
    }
  }
}

#escolha {
  background-image: url(../images/marmore.jpg);

  background-size: cover;
  background-attachment: fixed;
}

#contato {
  .form {
    gap: 1rem 0;

    &-control {
      border: 2px solid $primary;
      color: $primary;

      &:focus {
        box-shadow: 0 0 3px 0 $accent;
        border-color: $accent-600;
      }

      &::placeholder {
        color: $secondary;
      }
    }
  }
}

footer {
  background-image: url(../images/bg-azul.jpeg);
  .icon {
    text-align: center;
    svg {
      height: 20px;
    }
  }

  .img-rodape {
    max-height: 140px;
  }
  p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .link {
    color: $branco;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
  }
}

.wpp{
    position:fixed;
    bottom: 20px;
    right:20px;
    z-index:1000px;
    transition:all .3s ease-in-out ;
    img{
        width:70px;
        height:auto;
    }
    &:hover{
        scale:.95;
        translate: 2px 2px;
    }
    &:active{
      scale:.9;
      translate: 4px 4px;
  }
}

#curriculo {
  background-image: url(../images/marmore.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  .logo-tl {
    opacity: 0.17;
  }

  .img-sticky {
    position: sticky;
    transition: top 0.3s; /* Efeito de transição suave */
  }

  .sticky {
    //position: fixed;
    top: 82px; /* Distância do topo quando sticky */
  }
}
