@import 'colors.scss';
@import 'styles.css';
$ft-1:var(--font-primary);
$ft-2:var(--font-secondary);

:root {
    --bs-link-color: $primary;
    --bs-link-hover-color: $primary;
    --bs-navbar-color: $primary;
    --bs-border-radius: 0rem;
}

.box{
    overflow: hidden;
}
.parallax-img{
    //transition: .3s all ease-in-out;
}

.title {
    max-height: 50px;
    //width: 100%;
}

.line {
    height: 30px;
    background-color: $primary;
    background-image: url(../images/line-blue.png);
    background-size: contain;

    &-thin {
        height: 15px;
        background-color: $accent;
        background-image: url(../images/line-gold.png);
        background-size: cover;

        &.rotate {
            rotate: 180deg;
        }
    }
}

.btn {

    &-gradient {
        background-color: hsla(44, 84%, 70%, 1);
        background-image: url(../images/bg-azul-small.jpg);
        background-size: 200%;
        background-position: left;
        border: 0px !important;
        color: $branco;
        transition: .5s all ease-in-out;

        &:not(:disabled):not(.disabled).active,
        &:not(:disabled):not(.disabled):active,
        .show>&.dropdown-toggle,
        &:hover {
            background-position: right;
            color: $branco;
        }

        &:active {
            background-position: left;
        }

        &:focus-visible {
            outline: $primary auto 0px;
        }

        &.focus,
        &:focus,
        &:not(:disabled):not(.disabled).active:focus,
        &:not(:disabled):not(.disabled):active:focus,
        .show>&.dropdown-toggle:focus {
            box-shadow: 0 0 0 0rem $accent;
        }
    }
}

.nav {

    &-section {
        background-color: rgba($color: #fff, $alpha: 0);
        transition: background-color 0.3s ease;

        .collapsing {
            @media only screen and (min-width: 991px) {
                height: 100% !important;
            }
        }
        .py-2{
            @media (max-width:992px) {
               padding-bottom: 0px!important; 
            }
        }
    }

    &-item {
        padding: 0rem .5rem !important;

        @media (max-width:992px) {

            &:nth-child(1) {
                margin-top: 1rem;
            }
            &:last-child {
                margin-bottom: 1rem;
            }
        }
    }

    &-link {
        text-transform: uppercase;
        cursor: pointer;
        color: $primary !important;
        font-weight: 600;
        font-size: var(--font-size-small);
        line-height: var(--font-size-small);
        //font-family: $ft-2;

        &:hover {
            color: $secondary-400 !important;
        }

        @media (max-width:992px) {
            border: 0px;
            padding: .5rem 0rem !important;
        }

        &.active {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: 0px;
                right: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $accent;
                background-image: url(../images/gold.png);
            }
        }

    }
    
    &bar{
        @media (max-width:992px) {
            padding-bottom: 0px!important; 
         }
         &-brand{
            
            @media (max-width:992px) {
                margin-left: 1rem;
                margin-bottom: 1rem!important; 
             }
         }
        &-toggler{
            border: 1px solid $primary;
            &:focus{
                box-shadow: 0 0 4px $secondary;
            }
            @media (max-width:992px) {
                margin-bottom: 1rem!important; 
             }
        }
        &-collapse{
            &.show{
                background-color: rgba($color: #fff, $alpha: 0.8);
                
                backdrop-filter: blur(10px);
            }
        }
    }


    &-space {
        height: 82px;
        width: 100%;
    }
}

#home {
    height: calc(100vh);
    background-image: url('../images/bg-home.png');
    background-size: cover;
    background-color: rgba($color: #fff, $alpha: .3);
    background-attachment: fixed;
    overflow: hidden;

    @media (max-width:576px) {
        padding-top: 150px;
        height: auto;
        background: #fff;
        // background-size: contain;
        // background-repeat: no-repeat;
        // background-position: center bottom;
    }

    &:after {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba($color: #fff, $alpha: .5) 0%, rgba($color: #fff, $alpha: .3) 100%);

        @media (max-width:576px) {
            content: none;
        }

    }
    .img-mobile{
        padding-block: 8rem;
        background-image: url('../images/bg-home.png');
        background-size: cover;
        background-position: right;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: -1px;
            width: 100%;
            height: 60px;
            background: linear-gradient(180deg, rgba($color: #fff, $alpha: 1) 0%, rgba($color: #fff, $alpha: 0) 100%);
        }
    }

    .px-0 {
        padding-inline: 0.01px !important;
    }

    .content {
        position: relative;
        z-index: 10;
    }

    h6 {
        line-height: 1.4 !important;
    }

    .btn-gradient {
        width: 230px;
    }
}

#sobre {
    background-image: url(../images/marmore.jpg);
    background-size: cover;
    background-attachment: fixed;
    h6 {
        line-height: 1.4 !important;
    }
}

#pontos {

    .icon {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1.5rem;
        

        svg {
            width: 26px;
        }

        .title {
            width: 80%;
            max-width: 300px;
        }
        .text{
            p{
                font-size: .875rem!important;
            }
        }
    }
}

#escolha{
    background-image: url(../images/marmore.jpg);
    background-size: cover;
    background-attachment: fixed;

}

#contato {

    .form {
        gap: 1rem 0;

        &-control {
            border: 2px solid $primary;
            color: $primary;

            &:focus {
                box-shadow: 0 0 3px 0 $accent;
                border-color: $accent-600;
            }

            &::placeholder {
                color: $secondary;
            }
        }
    }
}

footer {
    .pattern {
        height: 50px;
        background-image: url(../images/pattern.png);
        background-size: contain;

        @media (max-width:576px) {
            background-size: cover;
        }
    }
}