@import "colors";

:root {
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'NT-Fabulous', serif;

  --size-0:0rem;
  --size-1:0.25rem;
  --size-2:0.5rem;
  --size-3:1rem;
  --size-4:1.5rem;
  --size-5:3rem;


  /* @link https://utopia.fyi/type/calculator?c=320,16,1.15,1240,18,1.2,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  /* font-size -2: 12.10px → 12.50px */
  --font-size-minor: clamp(0.76rem, 0.75rem + 0.04vw, 0.78rem);
  /* font-size -1: 13.91px → 15.00px */
  --font-size-small: clamp(0.87rem, 0.85rem + 0.12vw, 0.94rem);
  /* font-size 0: 16.00px → 18.00px */
  --font-size-base: clamp(1.00rem, 0.96rem + 0.22vw, 1.13rem);
  /* font-size 1: 18.40px → 21.60px */
  --font-size-6: clamp(1.15rem, 1.08rem + 0.35vw, 1.35rem);
  /* font-size 2: 21.16px → 25.92px */
  --font-size-5: clamp(1.32rem, 1.22rem + 0.52vw, 1.62rem);
  /* font-size 3: 24.33px → 31.10px */
  --font-size-4: clamp(1.52rem, 1.37rem + 0.74vw, 1.94rem);
  /* font-size 4: 27.98px → 37.32px */
  --font-size-3: clamp(1.75rem, 1.55rem + 1.02vw, 2.33rem);
  /* font-size 5: 32.18px → 44.79px */
  --font-size-2: clamp(2.01rem, 1.74rem + 1.37vw, 2.80rem);
  /* font-size 6: 37.01px → 53.75px */
  --font-size-1: clamp(2.31rem, 1.95rem + 1.82vw, 3.36rem);
  
  --transparente: rgba(0, 0, 0, 0);
 
  --transition-1: all 0.3s cubic-bezier(0.6, -0.10, 0.4, 1.10);
  --transition-2: all 0.5s cubic-bezier(0.6, -0.10, 0.4, 1.10);
  
  --box-shadow-1: 0 2px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 8px 16px rgba(0, 0, 0, 0.1);
  --box-shadow-3: 0 16px 32px rgba(0, 0, 0, 0.1);
  --box-shadow-4: 0 24px 48px rgba(0, 0, 0, 0.1);
}

$ft-1:var(--font-primary);
$ft-2:var(--font-secondary);

$shadow-1: var(--box-shadow-1);
$shadow-2: var(--box-shadow-2);
$shadow-3: var(--box-shadow-3);
$shadow-4: var(--box-shadow-4);


/* 
  --------------------------------
  GERAIS
  --------------------------------
  */



html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  font-family: $ft-1;
  overflow-x: hidden;
}

.ft-1 {
  font-family: $ft-1;
}

.ft-2 {
  font-family: $ft-2;
  //font-family: 'NT-Fabulous', serif;
}

.small {
  font-size: .875em !important;
}


/* COR DAS FONTES */
.c {

  &-primary-300 {
    color: $primary-300 !important;
  }

  &-primary-400 {
    color: $primary-400 !important;
  }

  &-primary {
    color: $primary !important;
  }

  &-primary-600 {
    color: $primary-600 !important;
  }

  &-primary-700 {
    color: $primary-700 !important;
  }

  &-secondary-300 {
    color: $secondary-300 !important;
  }

  &-secondary-400 {
    color: $secondary-400 !important;
  }

  &-secondary {
    color: $secondary !important;
  }

  &-secondary-600 {
    color: $secondary-600 !important;
  }

  &-secondary-700 {
    color: $secondary-700 !important;
  }

  &-accent {
    color: $accent !important;
  }

  &-branco {
    color: $branco !important;
  }

  &-cinza-100 {
    color: $cinza-100 !important;
  }

  &-cinza-600 {
    color: $cinza-600 !important;
  }

  &-cinza-300 {
    color: $cinza-300 !important;
  }

  &-cinza-400 {
    color: $cinza-400 !important;
  }

  &-cinza-900 {
    color: $cinza-900 !important;
  }
}

/* COR DOS FUNDOS */
.bg {

  &-primary-300 {
    background-color: $primary-300 !important;
  }

  &-primary-400 {
    background-color: $primary-400 !important;
  }

  &-primary {
    background-color: $primary !important;
  }

  &-primary-600 {
    background-color: $primary-600 !important;
  }

  &-primary-700 {
    background-color: $primary-700 !important;
  }

  &-secondary {
    background-color: $secondary !important;
  }

  &-accent {
    background-color: $accent !important;
  }

  &-branco {
    background-color: $branco !important;
  }

  &-cinza-100 {
    background-color: $cinza-100 !important;
  }

  &-cinza-600 {
    background-color: $cinza-600 !important;
  }

  &-cinza-300 {
    background-color: $cinza-300 !important;
  }

  &-cinza-400 {
    background-color: $cinza-400 !important;
  }

  &-cinza-900 {
    background-color: $cinza-900 !important;
  }
}

/* COR DAS FONTES */
.fill {

  &-primary-300 {
    fill: $primary-300 !important;
  }

  &-primary-400 {
    fill: $primary-400 !important;
  }

  &-primary {
    fill: $primary !important;
  }

  &-primary-600 {
    fill: $primary-600 !important;
  }

  &-primary-700 {
    fill: $primary-700 !important;
  }

  &-secondary-300 {
    fill: $secondary-300 !important;
  }

  &-secondary-400 {
    fill: $secondary-400 !important;
  }

  &-secondary {
    fill: $secondary !important;
  }

  &-secondary-600 {
    fill: $secondary-600 !important;
  }

  &-secondary-700 {
    fill: $secondary-700 !important;
  }

  &-accent {
    fill: $accent !important;
  }

  &-cinza-100 {
    fill: $cinza-100 !important;
  }

  &-cinza-600 {
    fill: $cinza-600 !important;
  }

  &-cinza-300 {
    fill: $cinza-300 !important;
  }

  &-cinza-400 {
    fill: $cinza-400 !important;
  }

  &-cinza-900 {
    fill: $cinza-900 !important;
  }
}


/* COR DA BORDA */
/* PESO DA BORDA */
.border {
  &-primary {
    border-color: $primary !important;
    &-300 {
      border-color: $primary-300 !important;
    }
  
    &-400 {
      border-color: $primary-400 !important;
    }

    &-600 {
      border-color: $primary-600 !important;
    }
  
    &-700 {
      border-color: $primary-700 !important;
    }
  }

  &-secondary {
    border-color: $secondary !important;
  }

  &-accent {
    border-color: $accent !important;
  }

  &-cinza-100 {
    border-color: $cinza-100 !important;
  }

  &-cinza-600 {
    border-color: $cinza-600 !important;
  }

  &-cinza-300 {
    border-color: $cinza-300 !important;
  }

  &-cinza-400 {
    border-color: $cinza-400 !important;
  }

  &-cinza-900 {
    border-color: $cinza-900 !important;
  }

  &-1 {
    border-style: solid;
    border-width: 1px;
  }

  &-2 {
    border-style: solid;
    border-width: 2px;
  }

  &-3 {
    border-style: solid;
    border-width: 3px;
  }

  &-4 {
    border-style: solid;
    border-width: 4px;
  }

  &-5 {
    border-style: solid;
    border-width: 5px;
  }

  &-radius-05 {
    border-radius: .5rem;
  }

  &-radius-075 {
    border-radius: .75rem;
  }

  &-radius-1 {
    border-radius: 1rem;
  }

  &-radius-15 {
    border-radius: 1.5rem;
  }

  &-radius-2 {
    border-radius: 2rem;
  }

  &-radius-25 {
    border-radius: 2.5rem;
  }
}

/* PESO DAS FONTES */
.fw {
  &-100 {
    font-weight: 100 !important;
  }

  &-300 {
    font-weight: 300 !important;
  }

  &-400 {
    font-weight: 400 !important;
  }

  &-600 {
    font-weight: 600 !important;
  }

  &-700 {
    font-weight: 700 !important;
  }

  &-700 {
    font-weight: 700 !important;
  }

  &-800 {
    font-weight: 800 !important;
  }

  &-900 {
    font-weight: 900 !important;
  }
}


/* ALINHAMENTO */
.center {
  &-s {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  &-v {
    display: flex;
    align-items: center;
    align-content: center;
  }

  &-h {
    display: flex;
    justify-content: center;
  }
}

/* ALTURA */
.h {
  &-100 {
    height: 100%;
    &-v{
      height: 100vh;
    }
  }

  &-75 {
    height: 75%;
    &-v{
      height: 75vh;
    }
  }

  &-50 {
    height: 50%;
    &-v{
      height: 50vh;
    }
  }

  &-25 {
    height: 25%;
    &-v{
      height: 25vh;
    }
  }

  &-fit-content{
    height: fit-content!important;
  }
  
}

/* LARGURA */
.w{
  &-fit-content{
    width: fit-content!important;
  }
  &-md-100{
    @media (max-width:767px) {
      width: 100%;
    }
  }
}


/* FONTE */

h, .h {
  &1 {
    //font-size: 3.125rem!important;
    font-size: var(--font-size-1)!important;
    //line-height: var(--font-size-1);
  }

  &2 {
    //font-size: 2.5rem!important;
    font-size: var(--font-size-2)!important;
    //line-height: var(--font-size-2);
  }

  &3 {
    //font-size: 2.1875rem!important;
    font-size: var(--font-size-3)!important;
    //line-height: var(--font-size-3);
  }

  &4 {
    //font-size: 1.75rem!important;
    font-size: var(--font-size-4)!important;
    //line-height: var(--font-size-4);
  }

  &5 {
    //font-size: 1.5rem!important;
    font-size: var(--font-size-5)!important;
    //line-height: var(--font-size-5);
  }

  &6 {
    //font-size: 1rem!important;
    font-size: var(--font-size-6)!important;
    //line-height: var(--font-size-6);
  }
}
p {
  //font-size: 1rem!important;
  font-size: var(--font-size-base) !important;
  //line-height: var(--font-size-base);
}
.small{
  //font-size: .875rem!important;
  font-size: var(--font-size-small) !important;
  //line-height: var(--font-size-small);
}

.text-justify{
  text-align: justify;
}



/* BOTÕES */
.btn {
  --bs-border-radius: 0rem;
  --bs-btn-padding-y: 0.3rem;
  border-radius: 0px!important;
  font-weight: 700;
  
  &-primary {
    font-size: var(--font-geral);
    border-color: $primary;
    background-color: $primary;
    color: $branco;
    transition: .5s all ease-in-out;

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    .show>&.dropdown-toggle,
    &:hover {
      border-color: $accent;
      background-color: $accent;
      //color: $primary;
    }

    &:focus-visible {
      outline: $primary auto 0px;
    }

    &.focus,
    &:focus,
    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus,
    .show>&.dropdown-toggle:focus {
      box-shadow: 0 0 0 0rem $accent;
    }
  }

  &-secondary {
    font-size: var(--font-geral);
    border-width: 2px;
    border-color: $primary;
    background-color: transparent;
    color: $primary;
    transition: .5s all ease-in-out;

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    .show>&.dropdown-toggle,
    &:hover {
      border-color: $primary;
      background-color: $primary;
      color: $branco;
    }

    &:focus-visible {
      outline: 0px;
    }

    &.focus,
    &:focus,
    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus,
    .show>&.dropdown-toggle:focus {
      box-shadow: 0 0 0 0rem $accent;
    }
  }


  &-click {
    box-shadow: $shadow-2;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: translateX(1px) translateY(2px);
      box-shadow: $shadow-1;
    }

    &:active {
      transform: translateX(2px) translateY(4px);
      box-shadow: 0px;
    }

  }

}



.card {
  box-shadow: 0 16px 16px $sombra, 0 8px 8px $sombra, 0 4px 4px $sombra, 0 0 10px $sombra;

  &:hover {
    border: 1px solid $primary !important;
  }

  .card-footer {
    text-align: end;
  }
}




footer {
  position: relative;

  .position-absolute {
    bottom: 0;
  }
}




